.main-container {
    height: 100vh;
    display: flex;
}

.login-container {
    width: 40%;
    /* background-color: white; */
    background-image: linear-gradient(to right, rgb(235, 235, 64), rgb(3, 173, 173));
    margin: auto auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 35em;
    align-items: center;
    /* margin-top: 12em; */
}
a{
    text-decoration: none;
}
.login-head {
    color: white;
    font-weight: 700;
    margin-top: 2em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
}

.link {
    text-align: center;
    color: black;
}

.link:hover {
    color: white;
}

.text-container {
    width: 20em;
    height: 3.5em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    padding-left: 1em;
}

.invalid {
    border: 2px solid;
    border-color: rgb(255, 9, 9)
}

.login-btn {
    width: 13em;
    height: 2.7em;
    border: none;
    border-radius: 8px;
    background-color: rgb(6, 139, 139);
    color: white;
    font-weight: 700;
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgb(3, 173, 173)
}

@media(max-width:768px) {
    .login-head {
        margin-top: 1.6em;
    }
    .text-container {
        width: 15em;
        height: 2.7em;
    }
    .login-btn {
        width: 10em;
        height: 2.5em;
    }
    .form {
        margin-top: 1.5em;    
    }
    
}
@media(max-width:600px) {
    .login-head {
        margin-top: 1em;
    }
    .form {
        margin-top: 1em;    
    }
    .text-container {
        width: 11em;
        height: 2.5em;
    }
    .login-btn {
        width: 8em;
        height: 2.5em;
    }
    
}
@media(max-width:460px) {
    .text-container {
        width: 9em;
        height: 2.5em;
        font-size: 0.8em;
    }
    .login-btn {
        width: 6em;
        height: 2.5em;
    }
    p{
        font-size: 0.81em;
    }
    h1{
        font-size: 1.7em;
    }
}